<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">About Us</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/books.html">Books</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors.html">Authors</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/illustrators.html">Illustrators</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/translators.html">Translators</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news.html">News</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
